body { font-family: Vedana, sans; font-size: 14px; padding: 20px; margin : 0px; }

/* layout */

/* tags */

h1 {text-align: center; font-size: 24pt; padding: 24pt; margin: -20px -20px 20px -20px; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
input[type=submit], input[type=button] { min-width: 6em; }
input { margin-right: 0px; }

/* Colors */

a { color: #e44; }
h1 {  background-color: #222; color: #eee; }

/* Styles */

.center { text-align: center; }
.right { text-align: right; }
.floatRight { float: right; }

.input4 { width: 4em; }
.input6 { width: 6em; }

.gameTypes { clear: both; margin-top: 50px; }
.gameType { display: inline-block; width: 300px; height: 200px; font-size: 130%; }
.gameType .thumbnail { display: flex; flex-direction: column; }
.gameType .thumbnail a { display: inline-block; align-self: center; text-align: center; }


.variations { clear: both; }
.variation { display: inline-block; width: 300px;
    background-color: #eee; padding: 1em; margin: 1em; border-radius: 30px;
    flex-flow: column;
}
.variationColumn { display: flex; flex-flow: column; height: 500px; }
.existingGames { flex-shrink : 1; overflow: auto; }

.roundedBox { background-color: #d5d5ff; border-radius: 4px; padding: 10px; margin: 4px 0; }

table.roundedTable { background-color: #d5d5ff; border-radius: 16px; padding: 10px; margin: 4px 0; }
table.roundedTable td { padding: 0.5em 0.5em; }
table.roundedTable td.withInfo { padding-bottom: 0em; }
table.roundedTable td.info { padding-top: 0em; color: #282; }


.formError { color: #282; }
.wide{ width: 100%; }

.seats { clear: both; }
a.seat { display: inline-block; width: 150px;
    color: #000; font-size: 160%;
    padding: 1em; margin: 1em; border-radius: 10px;
    text-align: center;
    border: 2px solid white;
}
a.seat:hover {
    border: 2px solid black;
}
a.seatTaken:hover {
    text-decoration: none;
    border: 2px solid white;
}

.footing { text-align: right; }

